In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("brfss2020.csv")
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,1042020,1,4,2020,1100.0,2020000001,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,2072020,2,7,2020,1200.0,2020000002,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,1232020,1,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0
3,1.0,1.0,1092020,1,9,2020,1100.0,2020000004,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,1.0,1.0,1042020,1,4,2020,1100.0,2020000005,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0

In [3]:
#Selecting relevant variables for our analysis
# df_rel1=df[['_STATE',
# 'LADULT1',
# 'SEXVAR',
# 'PHYSHLTH',
# 'MENTHLTH',
# 'HLTHPLN1',
# 'EXERANY2',
# 'SLEPTIM1',
# '_MICHD',
# 'CVDCRHD4',
# 'CVDSTRK3',
# 'DIABETE4',
# 'VETERAN3',
# 'INCOME2',
# 'PREGNANT',
# 'SMOKE100',
# 'DRNK3GE5',
# 'HIVRISK5',
# 'ECIGNOW',
# 'MARIJAN1',
# 'CNCRDIFF',
# 'CNCRTYP1',
# '_URBSTAT',
# '_IMPRACE',
# '_AGEG5YR',
# '_BMI5','_SMOKER3',
# '_BMI5CAT'
# ]]

df_rel1=df[['_STATE',
'SEXVAR',
'_PHYS14D',
'HLTHPLN1',
'EXERANY2',
'SLEPTIM1',
'_MICHD',
'CVDSTRK3',
'DIABETE4',
'VETERAN3',
'INCOME2',
'SMOKE100',
'DRNK3GE5',
'CNCRDIFF',
'CNCRTYP1',
'_IMPRACE',
'_BMI5',
'_BMI5CAT',
'_SMOKER3',
]]

In [4]:
df_rel1.dtypes

_STATE      float64
SEXVAR      float64
_PHYS14D    float64
HLTHPLN1    float64
EXERANY2    float64
SLEPTIM1    float64
_MICHD      float64
CVDSTRK3    float64
DIABETE4    float64
VETERAN3    float64
INCOME2     float64
SMOKE100    float64
DRNK3GE5    float64
CNCRDIFF    float64
CNCRTYP1    float64
_IMPRACE    float64
_BMI5       float64
_BMI5CAT    float64
_SMOKER3    float64
dtype: object

In [5]:
#length before any clean up
print('Total Data:', len(df_rel1))

Total Data: 401958

In [6]:
#Check for the null values in the dataset in form of percentage
for i in df_rel1.columns:
    null_percentage=df_rel1[i].isnull().sum()/len(df_rel1)*100
    print(i, null_percentage)

_STATE 0.0
SEXVAR 0.0
_PHYS14D 0.0
HLTHPLN1 0.0007463466332303375
EXERANY2 0.0007463466332303375
SLEPTIM1 0.0007463466332303375
_MICHD 0.8884012757551784
CVDSTRK3 0.0007463466332303375
DIABETE4 0.001492693266460675
VETERAN3 0.32515834987735037
INCOME2 1.8305395091029413
SMOKE100 4.443250289831275
DRNK3GE5 52.648784201334465
CNCRDIFF 94.23671129819533
CNCRTYP1 94.35861458162296
_IMPRACE 0.0
_BMI5 10.288885903502356
_BMI5CAT 10.288885903502356
_SMOKER3 0.0

In [7]:
#data clean up process

#dropping values depending on the variable as each variables has different category of dropping
values = [77,88,99]
val1 = [7,9]
val2 = [77,99]

#---------------PHYSHLTH: Represents Number of Days Physical Health Not Good-----------------------------
#1-30: No of days
#88: None
#77: Don't know/ Not sure
#99: Refused
#BLANK: Not asked or missing

#Creating brackets for the value label:
#df_rel1['PHYSHLTH_1']= np.where(df_rel1['PHYSHLTH'].between(1,30, inclusive='both'), '1-30', df_rel1['PHYSHLTH'])

#Checking the value counts for those value label brackets
print("Value count of PHYSHLTH: \n",df_rel1['_PHYS14D'].value_counts())

#dropping 
df_rel1.dropna(subset=['_PHYS14D'], inplace=True)
#dropping values of 77, 99
df_rel1 = df_rel1[df_rel1['_PHYS14D'].isin(val1) == False]

#Converting 88 (none) to 0
#df_rel1['PHYSHLTH'] = df_rel1['PHYSHLTH'].replace({88:0})
print("Length of dataframe after cleaning up PHYSHLTH : ", len(df_rel1))

#--------------------HLTHPLN1: Have any health care coverage------------------------------------
#1- Yes
#2-No
#7-Dont Know/ Not Sure
#9-Refused
#BLANK: Not asked or missing

df_rel1.dropna(subset=['HLTHPLN1'], inplace=True)
#dropping any values that is NOT 1,2
df_rel1 = df_rel1[df_rel1['HLTHPLN1'].isin(val1) == False]

#Converting 2 to 0
df_rel1['HLTHPLN1'] = df_rel1['HLTHPLN1'].replace({2:0})
print("Length of dataframe after cleaning up HLTHPLN1 : ",len(df_rel1))


#----------------EXERANY2:Exercise in Past 30 Days--------------------------------------------
#1:Yes
#2:No
#7: Not sure
#9: Refused
#BLANK: Not asked or Missing
df_rel1.dropna(subset=['EXERANY2'], inplace=True)


#Converting 2 to 0
df_rel1['EXERANY2'] = df_rel1['EXERANY2'].replace({2:0})

df_rel1 = df_rel1[df_rel1['EXERANY2'].isin(val1) == False]
print("Length of dataframe after cleaning up EXERANY2 : ",len(df_rel1))

#----------SLEPTIM1: How Much Time Do You Sleep-----------------------------------------------
#1-24: No of hours
#77-Don't know/ Not sure
#99-Refused
#BLANK: Missing

df_rel1['SLEPTIM1_1']= np.where(df_rel1['SLEPTIM1'].between(1,24, inclusive='both'), '1-24', df_rel1['SLEPTIM1'])
print("Value count of SLEPTIM1: \n",df_rel1['SLEPTIM1_1'].value_counts())

#dropping Na
df_rel1.dropna(subset=['SLEPTIM1'], inplace=True)

#drop any value of 77, 99
df_rel1 = df_rel1[df_rel1['SLEPTIM1'].isin(values) == False]
print("Length of dataframe after cleaning up SLEPTIM1 : ",len(df_rel1))

#--------------------------CVDINFR4:Ever Diagnosed with Heart Attack--------------------------
#1:Yes
#2:No
#7: Not sure
#9: Refused
#BLANK: Not asked or Missing
#df_rel1.dropna(subset=['_MICHD'], inplace=True)

df_rel1['_MICHD']=df_rel1['_MICHD'].fillna(0)
#Converting 2 to 0
df_rel1['_MICHD'] = df_rel1['_MICHD'].replace({2:0})

df_rel1 = df_rel1[df_rel1['_MICHD'].isin(val1) == False]
print("Length of dataframe after cleaning up CVDINFR4 : ",len(df_rel1))

# #-------------------------CVDCRHD4: Ever Diagnosed with Angina or Coronary Heart Disease--------
# #1:Yes
# #2:No
# #7: Not sure
# #9: Refused
# #BLANK: Not asked or Missing
# df_rel1.dropna(subset=['CVDCRHD4'], inplace=True)

# #Converting 2 to 0
# df_rel1['CVDCRHD4'] = df_rel1['CVDCRHD4'].replace({2:0})

# df_rel1 = df_rel1[df_rel1['CVDCRHD4'].isin(val1) == False]
# print("Length of dataframe after cleaning up CVDCRHD4 : ",len(df_rel1))

#-----------------------CVDSTRK3:Ever Diagnosed with a Stroke-----------------------------------
#1:Yes
#2:No
#7: Not sure
#9: Refused
#BLANK: Not asked or Missing
df_rel1.dropna(subset=['CVDSTRK3'], inplace=True)

#Converting 2 to 0
df_rel1['CVDSTRK3'] = df_rel1['CVDSTRK3'].replace({2:0})

df_rel1 = df_rel1[df_rel1['CVDSTRK3'].isin(val1) == False]
print("Length of dataframe after cleaning up CVDSTRK3 : ",len(df_rel1))

#---------------------DIABETE4:(Ever told) you had diabetes-------------------------------------
#1:Yes
#2:Yes, but female told only during pregnancy
#3: No
#4: No, pre-diabetes or borderline
#7: Not sure
#9: Refused
#BLANK: Not asked or Missing
#they have multiple different values. Need to check
df_rel1.dropna(subset=['DIABETE4'], inplace=True)

# Going to make this ordinal. 0 is for no diabetes or only during pregnancy,
#1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes

df_rel1['DIABETE4'] = df_rel1['DIABETE4'].replace({2:0, 3:0, 1:2, 4:1})

df_rel1 = df_rel1[df_rel1['DIABETE4'].isin(val1) == False]
print("Length of dataframe after cleaning up DIABETE4 : ",len(df_rel1))

#--------------------VETERAN3: Are You A Veteran-----------------------------------------------
#1:Yes
#2:No
#7: Not sure
#9: Refused
#BLANK: Not asked or Missing
df_rel1.dropna(subset=['VETERAN3'], inplace=True)

#Converting 2 to 0
df_rel1['VETERAN3'] = df_rel1['VETERAN3'].replace({2:0})

df_rel1 = df_rel1[df_rel1['VETERAN3'].isin(val1) == False]
print("Length of dataframe after cleaning up VETERAN3 : ",len(df_rel1))

#-------------------INCOME2:Income Level-----------------------------------------------------
# 1: Less than 10K
# 2: Between 10-15K
# 3: Between 15-20K
# 4: Between 20-25K
# 5: Between 25-35K
# 6: Between 35-50K
# 7: Between 50-75K
# 8: More than 75K
# 77: Don't know
# 99: Refused
#BLANK: Not asked or Missing

#dropping Na
df_rel1.dropna(subset=['INCOME2'], inplace=True)
#drop any value of 77, 99
df_rel1 = df_rel1[df_rel1['INCOME2'].isin(values) == False]
print("Length of dataframe after cleaning up INCOME2 : ",len(df_rel1))

#---------------------SMOKE100: Smoked at Least 100 Cigarettes---------------------------------------
#1:Yes
#2:No
#7: Not sure
#9: Refused
#BLANK: Not asked or Missing
df_rel1.dropna(subset=['SMOKE100'], inplace=True)

#Converting 2 to 0
df_rel1['SMOKE100'] = df_rel1['SMOKE100'].replace({2:0})
df_rel1 = df_rel1[df_rel1['SMOKE100'].isin(val1) == False]
print("Length of dataframe after cleaning up SMOKE100 : ",len(df_rel1))

#------------------------DRNK3GE5: Binge Drinking----------------------------------------------------
#1-76: Number of Times
#88: None
#77: Don’t know/Not Sure
#99: Refused
#BLANK: Not asked or Missing

#do not need 77, 99 BUT need 88
df_rel1.dropna(subset=['DRNK3GE5'], inplace=True)

#Converting 88 to 0
df_rel1['DRNK3GE5'] = df_rel1['DRNK3GE5'].replace({88:0})

df_rel1 = df_rel1[df_rel1['DRNK3GE5'].isin(val2) == False]
print("Length of dataframe after cleaning up DRNK3GE5 : ",len(df_rel1))

#-------------------CNCRDIFF: How Many Types of Cancer?-------------------------------------------
# 1: 1 only
# 2: 2
# 3: 3 or more
# 7: Don’t know/Not Sure—
# 9: Refused
# BLANK: Not asked or Missing


df_rel1['CNCRDIFF']=df_rel1['CNCRDIFF'].fillna(0)
df_rel1 = df_rel1[df_rel1['CNCRDIFF'].isin(val1) == False]
print("Length of dataframe after cleaning up CNCRDIFF : ",len(df_rel1))

#-------------------CNCRTYP1: Type of Cancer--------------------------------------------------


df_rel1['CNCRTYP1']=df_rel1['CNCRTYP1'].fillna('')
#dropping values of 77, 99
df_rel1 = df_rel1[df_rel1['CNCRTYP1'].isin(values) == False]
print("Length of dataframe after cleaning up CNCRTYP1 : ",len(df_rel1))

#--------------BMI_CAT------------------------------------
df_rel1.dropna(subset=['_BMI5CAT'], inplace=True)

#!!! DROP AT LEAST ONE OF THEM AFTER ANALYSIS !!!

#--------------_SMOKER3------------------------------------
df_rel1.dropna(subset=['_SMOKER3'], inplace=True)
df_rel1 = df_rel1[df_rel1['_SMOKER3'].isin(val1) == False]
print("Length of dataframe after cleaning up _SMOKER3 : ",len(df_rel1))

Value count of PHYSHLTH:
 1.0    278671
2.0     71588
3.0     43008
9.0      8691
Name: _PHYS14D, dtype: int64
Length of dataframe after cleaning up PHYSHLTH :  393267
Length of dataframe after cleaning up HLTHPLN1 :  391359
Length of dataframe after cleaning up EXERANY2 :  390840

/var/folders/b3/rxqhgxhx5sd119rsfyg2df4w0000gn/T/ipykernel_99459/2597489139.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rel1.dropna(subset=['_PHYS14D'], inplace=True)

Value count of SLEPTIM1:
 1-24    386919
77.0      3488
99.0       433
Name: SLEPTIM1_1, dtype: int64
Length of dataframe after cleaning up SLEPTIM1 :  386919
Length of dataframe after cleaning up CVDINFR4 :  386919
Length of dataframe after cleaning up CVDSTRK3 :  385962
Length of dataframe after cleaning up DIABETE4 :  385505
Length of dataframe after cleaning up VETERAN3 :  383308
Length of dataframe after cleaning up INCOME2 :  311832
Length of dataframe after cleaning up SMOKE100 :  304020
Length of dataframe after cleaning up DRNK3GE5 :  157839
Length of dataframe after cleaning up CNCRDIFF :  157709
Length of dataframe after cleaning up CNCRTYP1 :  157423
Length of dataframe after cleaning up _SMOKER3 :  151597

In [8]:
#Rename the columns to make them more readable
#Add the bucket column names
df_rel1.rename(columns = {'_STATE':'STATE',
'SEXVAR':'Sex',
'_PHYS14D':'PhysicalHealth',
'_MENT14D': 'MentalHealth',
'HLTHPLN1' :'HealthCare',
'EXERANY2' :'Exercise',
'SLEPTIM1':'SleepHours',
'_MICHD':'HeartAttack' ,
'CVDSTRK3':'Stroke',
'DIABETE4':'Diabetes',
'VETERAN3':'Veteran',
'INCOME2':'Income',
'SMOKE100':'Smoking', '_SMOKER3':'SmokerType',
'DRNK3GE5':'BingeDrinking',
'HIVRISK5':'HIVRisk',
'CNCRDIFF':'Cancer',
'CNCRTYP1':'CancerType',
'_IMPRACE':'Race',
'_BMI5':'BMI', '_BMI5CAT': 'BMI_Bucket'}, inplace=True)

In [9]:
#Creating bins for discrete variables
df_rel1['Income_Bucket'] = pd.cut(df_rel1['Income'],[1,5,8])
df_rel1['Binge_Drinking_Bucket'] = pd.cut(df_rel1['BingeDrinking'],[0,1,15,30,45,76])
df_rel1['Sleep_Hours_Bucket'] = pd.cut(df_rel1['SleepHours'],[1,8,16,24])

In [10]:
#Brief describe information about each variables
df_rel1.describe().head()

,STATE,Sex,PhysicalHealth,HealthCare,Exercise,SleepHours,HeartAttack,Stroke,Diabetes,Veteran,Income,Smoking,BingeDrinking,Cancer,Race,BMI,BMI_Bucket,SmokerType
count,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000,151597.000000
mean,29.638423,1.472463,1.335897,0.928086,0.838988,7.069876,0.061373,0.024994,0.184581,0.131434,6.598831,0.434692,1.329921,0.066835,1.593119,2803.641292,2.962954,3.324907
std,15.433226,0.499243,0.606225,0.258347,0.367544,1.294716,0.240014,0.156107,0.563737,0.337876,1.824207,0.495718,4.134124,0.307720,1.371536,593.256477,0.810252,0.947296
min,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1202.000000,1.000000,1.000000
25%,18.000000,1.000000,1.000000,1.000000,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,1.000000,2403.000000,2.000000,3.000000

In [15]:
#correlation table
df_corr = df_rel1.corr()
df_corr.head()

,STATE,Sex,PhysicalHealth,HealthCare,Exercise,SleepHours,HeartAttack,Stroke,Diabetes,Veteran,Income,Smoking,BingeDrinking,Cancer,Race,BMI,BMI_Bucket,SmokerType
STATE,1.000000,-0.013218,0.020056,-0.061485,-0.031338,-0.010093,0.000667,0.012072,0.018919,0.046809,-0.086490,0.015802,0.027925,-0.012454,0.176087,0.006722,0.003345,-0.029011
Sex,-0.013218,1.000000,0.046374,0.051338,-0.003582,0.023586,-0.089887,-0.015334,-0.060599,-0.290238,-0.057899,-0.073762,-0.105318,0.011250,-0.014051,-0.063773,-0.108144,0.053363
PhysicalHealth,0.020056,0.046374,1.000000,-0.011543,-0.158509,-0.062202,0.109885,0.095166,0.105426,0.020845,-0.177069,0.085345,0.029216,0.040336,0.012819,0.092008,0.062090,-0.101825
HealthCare,-0.061485,0.051338,-0.011543,1.000000,0.054996,0.031688,0.025648,0.013001,0.030179,0.042387,0.205482,-0.060985,-0.083937,0.043615,-0.126367,-0.004519,0.001611,0.118763
Exercise,-0.031338,-0.003582,-0.158509,0.054996,1.000000,0.012997,-0.075071,-0.058166,-0.106638,-0.031225,0.192656,-0.112909,-0.060153,-0.012459,-0.049969,-0.141712,-0.114856,0.147962

In [12]:
#States categorized into 5 different regions based on their locations

east = [9,10,23,24,25,33,34,36,42,44,50]
midwest = [17,18,19,20,26,27,29,31,38,39,46,55]
west = [4,8,16,30,32,35,41,49,53,56]
south = [1,5,6,11,12,13,21,22,28,37,40,45,47,48,51,54]

#Others include US terrorities or states that is not in mainland USA. (Alaska, Hawaii, Guam, Puerto Rico)
others = [2,15,66,72]

df_rel1["STATE"] = df_rel1["STATE"].replace([east],100)
df_rel1["STATE"] = df_rel1["STATE"].replace([midwest],101)
df_rel1["STATE"] = df_rel1["STATE"].replace([west],102)
df_rel1["STATE"] = df_rel1["STATE"].replace([south],103)
df_rel1["STATE"] = df_rel1["STATE"].replace([others],104)

In [16]:
#For loop to check variable relationship with Heart Attack (percentage)
varlist = ['STATE','Sex', 'PhysicalHealth','HealthCare', 'Exercise', 'SleepHours', 'Stroke', 'Diabetes','Veteran','Income','Smoking','BingeDrinking','Cancer', 'CancerType', 'Race', 'BMI_Bucket','SmokerType']
for i in varlist:
    print(df_rel1.groupby([i])['HeartAttack'].value_counts()/df_rel1.groupby([i])['HeartAttack'].count()*100)

STATE  HeartAttack
100.0  0.0            93.908440
       1.0             6.091560
101.0  0.0            93.825687
       1.0             6.174313
102.0  0.0            94.274945
       1.0             5.725055
103.0  0.0            93.213877
       1.0             6.786123
104.0  0.0            95.467769
       1.0             4.532231
Name: HeartAttack, dtype: float64
Sex  HeartAttack
1.0  0.0            91.820990
     1.0             8.179010
2.0  0.0            96.142355
     1.0             3.857645
Name: HeartAttack, dtype: float64
PhysicalHealth  HeartAttack
1.0             0.0            95.045868
                1.0             4.954132
2.0             0.0            93.112834
                1.0             6.887166
3.0             0.0            83.786993
                1.0            16.213007
Name: HeartAttack, dtype: float64
HealthCare  HeartAttack
0.0         0.0            96.074115
            1.0             3.925885
1.0         0.0            93.691318
            1.0             6.308682
Name: HeartAttack, dtype: float64
Exercise  HeartAttack
0.0       0.0            89.749682
          1.0            10.250318
1.0       0.0            94.652011
          1.0             5.347989
Name: HeartAttack, dtype: float64
SleepHours  HeartAttack
1.0         0.0             94.396552
            1.0              5.603448
2.0         0.0             88.104089
            1.0             11.895911
3.0         0.0             86.974790
            1.0             13.025210
4.0         0.0             89.972145
            1.0             10.027855
5.0         0.0             92.635143
            1.0              7.364857
6.0         0.0             94.443748
            1.0              5.556252
7.0         0.0             95.111085
            1.0              4.888915
8.0         0.0             93.623944
            1.0              6.376056
9.0         0.0             91.066119
            1.0              8.933881
10.0        0.0             88.142438
            1.0             11.857562
11.0        0.0             85.810811
            1.0             14.189189
12.0        0.0             84.090909
            1.0             15.909091
13.0        0.0             86.666667
            1.0             13.333333
14.0        0.0             84.269663
            1.0             15.730337
15.0        0.0             91.304348
            1.0              8.695652
16.0        0.0             91.803279
            1.0              8.196721
17.0        0.0            100.000000
18.0        0.0             83.870968
            1.0             16.129032
19.0        0.0            100.000000
20.0        1.0             57.142857
            0.0             42.857143
23.0        0.0            100.000000
24.0        0.0             77.777778
            1.0             22.222222
Name: HeartAttack, dtype: float64
Stroke  HeartAttack
0.0     0.0            94.486090
        1.0             5.513910
1.0     0.0            69.543415
        1.0            30.456585
Name: HeartAttack, dtype: float64
Diabetes  HeartAttack
0.0       0.0            95.048975
          1.0             4.951025
1.0       0.0            89.893211
          1.0            10.106789
2.0       0.0            81.932177
          1.0            18.067823
Name: HeartAttack, dtype: float64
Veteran  HeartAttack
0.0      0.0            94.956407
         1.0             5.043593
1.0      0.0            86.634881
         1.0            13.365119
Name: HeartAttack, dtype: float64
Income  HeartAttack
1.0     0.0            91.560932
        1.0             8.439068
2.0     0.0            88.901345
        1.0            11.098655
3.0     0.0            90.827962
        1.0             9.172038
4.0     0.0            90.833606
        1.0             9.166394
5.0     0.0            91.859288
        1.0             8.140712
6.0     0.0            92.902990
        1.0             7.097010
7.0     0.0            93.670600
        1.0             6.329400
8.0     0.0            95.515495
        1.0             4.484505
Name: HeartAttack, dtype: float64
Smoking  HeartAttack
0.0      0.0            95.876265
         1.0             4.123735
1.0      0.0            91.244044
         1.0             8.755956
Name: HeartAttack, dtype: float64
BingeDrinking  HeartAttack
0.0            0.0             93.091005
               1.0              6.908995
1.0            0.0             96.477339
               1.0              3.522661
2.0            0.0             96.138451
                                 ...
50.0           0.0            100.000000
55.0           0.0            100.000000
60.0           1.0            100.000000
66.0           0.0            100.000000
76.0           0.0            100.000000
Name: HeartAttack, Length: 68, dtype: float64
Cancer  HeartAttack
0.0     0.0            94.239930
        1.0             5.760070
1.0     0.0            88.163199
        1.0            11.836801
2.0     0.0            84.267387
        1.0            15.732613
3.0     0.0            79.566563
        1.0            20.433437
Name: HeartAttack, dtype: float64
CancerType  HeartAttack
1.0         0.0             93.510638
            1.0              6.489362
2.0         0.0             84.388186
            1.0             15.611814
3.0         0.0             85.294118
            1.0             14.705882
4.0         0.0             88.636364
            1.0             11.363636
5.0         0.0             93.103448
            1.0              6.896552
6.0         0.0             77.272727
            1.0             22.727273
7.0         0.0             75.000000
            1.0             25.000000
8.0         0.0             92.972973
            1.0              7.027027
9.0         0.0             66.666667
            1.0             33.333333
10.0        0.0             79.899497
            1.0             20.100503
11.0        0.0             71.428571
            1.0             28.571429
12.0        0.0             78.571429
            1.0             21.428571
13.0        0.0             89.473684
            1.0             10.526316
14.0        0.0             81.818182
            1.0             18.181818
15.0        0.0             88.888889
            1.0             11.111111
16.0        0.0             85.185185
            1.0             14.814815
17.0        0.0             88.505747
            1.0             11.494253
18.0        0.0             90.196078
            1.0              9.803922
19.0        0.0             82.236025
            1.0             17.763975
20.0        0.0             86.000000
            1.0             14.000000
21.0        0.0             86.486486
            1.0             13.513514
22.0        0.0             88.164251
            1.0             11.835749
24.0        0.0             71.428571
            1.0             28.571429
25.0        0.0             74.522293
            1.0             25.477707
26.0        0.0             88.157895
            1.0             11.842105
27.0        0.0             80.769231
            1.0             19.230769
28.0        0.0             88.235294
            1.0             11.764706
29.0        0.0            100.000000
30.0        0.0             91.167192
            1.0              8.832808
            0.0             94.239139
            1.0              5.760861
Name: HeartAttack, dtype: float64
Race  HeartAttack
1.0   0.0            93.432430
      1.0             6.567570
2.0   0.0            95.126706
      1.0             4.873294
3.0   0.0            97.765363
      1.0             2.234637
4.0   0.0            92.368570
      1.0             7.631430
5.0   0.0            96.456658
      1.0             3.543342
6.0   0.0            94.275604
      1.0             5.724396
Name: HeartAttack, dtype: float64
BMI_Bucket  HeartAttack
1.0         0.0            95.100223
            1.0             4.899777
2.0         0.0            95.427822
            1.0             4.572178
3.0         0.0            93.577629
            1.0             6.422371
4.0         0.0            92.538995
            1.0             7.461005
Name: HeartAttack, dtype: float64
SmokerType  HeartAttack
1.0         0.0            92.220215
            1.0             7.779785
2.0         0.0            93.919951
            1.0             6.080049
3.0         0.0            90.520911
            1.0             9.479089
4.0         0.0            95.876265
            1.0             4.123735
Name: HeartAttack, dtype: float64

In [14]:
#######----------FINAL VARIABLES FOR ANALYSIS-----------------------------------------------

# 'STATE'
# 'Sex'
# PhysicalHealth
# 'HealthCare
# 'Exercise
# 'SleepHours
# Sleephour bucket
# 'HeartAttack
# 'Stroke
# 'Diabetes
# 'Veteran
# 'Income
# Income bucket
# 'Smoking
# 'BingeDrinking
# Bingedrinkingbucket
# 'HIVRisk
# 'Cancer
# 'CancerType
# 'Race
# 'BMI
# 'bmi_bucket

#-------------aggregation ideas for continous variables (mean, median, mode, count)------------------------(Dae)
#Race and gender and take count or percentage
#clean up smoker3 variable

#--------------------Plotting-------------------

#Heatmap correlation (with chosen variables) and SNS --- Sanyukta

#-----Pie chart---------(exploded and color combination) -- Sohini and Nitin
#1. State
#2. Physical Health
#3. _SMOKER3 variable

#----scatter plot----------- Alex
#1. Scatter for sleep hours
#2. Income
#3. original binge data


#Bar graph --- Sohini and Nitin
#1. Sex only for heart disease
#